 *{
     font-size: 22px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 /*START NAVBAR*/
nav{
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #7c6d6d;
    width: 18%;

}
nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: small;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-color: lightgray; 
  }
  
nav li a:hover {
    background-color:rgb(139, 77, 77) ;
    color: white;
  }
  /*END NAV BAR*/
  /*START MAIN*/
main {
    margin-left:19%;
    background-image: linear-gradient(115deg,rgba(131, 94, 94, 0.5),rgba(196, 196, 221, 0.7)) 
    ,url(images/SARS-CoV-2_\(CDC-23312\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
  }
   /*END MAIN*/
   /*START MEDIA*/
   @media screen and (min-width: 480px) {
    main{
        font-size: 20px;  
    }
}
@media screen and (max-width: 480px) {
    nav{
        width: 100%;
        position: static;
    }
    main{
        margin: 0;
    }   
}
    /*END MEDIA*/
   /*Start headers*/
h1 {
    text-shadow: 2px 2px rgb(192, 88, 88);
    font-size: 40px;
  }
  
h2{
    font-size: 40px;
}
/*END headers*/

code {
    font-family: Consolas,"courier new";
    color: crimson;
    padding: 2px;
    font-size: 105%;
  }
/*START FORM*/
form{
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
form label{
    font-size: 22px;
    font-family: fantasy;
}
input[type=text]{
    background-color: #c24848;
    color: white;
    padding: 10px 18px;
    margin: 4px 2px;
}
input[type=number]{
    background-color: #c24848;
    color: white;
    padding: 10px 18px;
    margin: 4px 2px;
}
select {
    width: 50%;
    color:white;  
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #c24848;
  }
input[type=submit] {
    background-color: #b12d2d;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
}
span {
    font-size: 25px;
    font-family: fantasy;
    text-align:center;
}
/*END FORM*/